@import 'src/styles/variables'

.login-modals-shadow
    display: flex
    justify-content: center
    position: fixed
    top: 0
    left: 0
    height: 100%
    width: 100%
    background: rgba(0, 0, 0, 0.5)
    z-index: 1000
    overflow: hidden auto 
    &::-webkit-scrollbar
        width: 0
        height: 0
.login-modals
    font-size: 16px
    height: fit-content
    margin: 10em 1em 1em 1em
    display: flex
    overflow: hidden
    width: 20em
    max-width: 75vw
    background: $main-color-white
    border-radius: 1em
    border: 2px solid $main-color-turquoise
    z-index: 1001
    &_sign-in-inner, &_registration-inner, &_verify-email, &_new-password, &_success
        width: 100%
        padding: 1em 2em
        text-align: center
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        h2
            font-family: AnjaEliane, Debussy
            font-weight: 400
            margin-bottom: 1em
        &_textfields
            width: 100%
            display: flex
            flex-direction: column
            & .MuiFormControl-root
                margin-bottom: 1em
                &.forgot-password
                    margin-bottom: 0
                & .MuiFormHelperText-root
                    font-size: 0.75em
                    margin: 0.2em 0.75em 0 0.75em
            &_forgot-password-button
                margin: 0 0.5625em 1em 0.5625em
                span
                    cursor: pointer
                    display: flex
                    width: fit-content
                    font-size: 0.75em
                    text-decoration: underline
                    &:hover
                        opacity: 0.9
        &_sign-in-button, &_registration-button
            font-size: 0.875em
            display: flex
            justify-content: center
            align-items: center
            font-weight: 600
            cursor: pointer
            line-height: 1
            min-width: fit-content
            width: 5.5em
            height: 3em
            border: none
            border-radius: 2em
            background: $main-color-turquoise
            color: $main-color-white
            &:hover
                opacity: 0.9
            &:disabled
                opacity: 0.5
                cursor: default
            &:active:enabled
                transform: scale(0.97)

            ////////////////// styling the circle loader for responsive
            > span
                width: 1.25em !important
                height: 1.25em !important
                > span:nth-child(1)
                    width: 1.25em !important
                    height: 1.25em !important
                > span:nth-child(2)
                    width: 1.125em !important
                    height: 1.125em !important
                > span:nth-child(3)
                    width: 1em !important
                    height: 1em !important
                > span:nth-child(4)
                    width: 0.875em !important
                    height: 0.875em !important
                > span:nth-child(5)
                    width: 0.75em !important
                    height: 0.75em !important

        > p
            color: $main-color-grey
            font-weight: 600
            margin: 5px 0
        > p.login-modals_sign-in-inner_to-register-switch
            cursor: pointer
            margin: 0
            color: $main-color-turquoise
            text-decoration: underline
            &:hover
                opacity: 0.9

    &_verify-email
                
    &_new-password
        > p
            margin: 0 0 1.5em 0
        &_textfields
        &_submit
            margin: 0.5em 0 0.75em 0
            align-self: center
            font-size: 0.875em
            display: flex
            justify-content: center
            align-items: center
            font-weight: 600
            cursor: pointer
            line-height: 1
            min-width: fit-content
            width: 5.5em
            height: 3em
            border: none
            border-radius: 2em
            background: $main-color-turquoise
            color: $main-color-white
            ////////////// PulseLoader Styles for responsive
            > span
                transform: translateY(0.075em)
                > span
                    margin: 0.125em !important
                    height: 0.6em !important 
                    width: 0.6em !important
            &:hover
                opacity: 0.9
            &:disabled
                opacity: 0.5
                cursor: default
            &:active:enabled
                transform: scale(0.97)
    &_success
        svg
            width: 2em
            height: auto
        p
            margin: 0.5em 0
        &_button
            margin: 0.5em 0
            align-self: center
            font-size: 0.875em
            display: flex
            justify-content: center
            align-items: center
            font-weight: 600
            cursor: pointer
            line-height: 1
            min-width: fit-content
            width: 5.5em
            height: 3em
            border: none
            border-radius: 2em
            background: $main-color-turquoise
            color: $main-color-white
            &:hover
                opacity: 0.9
            &:disabled
                opacity: 0.5
                cursor: default
            &:active:enabled
                transform: scale(0.97)
        
    &_registration-inner
        > p 
            color: $main-color-grey
            font-weight: 400
            margin: 1em 0 0.5em 0
        > p.login-modals_registration-inner_to-sign-in-switch
            margin: 0 0 0.5em 0
            font-weight: 600
            color: $main-color-turquoise
            cursor: pointer
            text-decoration: underline
            &:hover
                opacity: 0.9
        &_registration-button
            width: 7em

.success-div
    margin: 14em 1em 1em 1em
    position: relative
    display: flex
    justify-content: center
    align-items: center
    width: 6em
    height: 6em
    border-radius: 50%
    background: $main-color-green-light
    svg
        fill: $main-color-turquoise
        height: auto
        width: 50%

.email-confirm-notification-div
    font-weight: 600
    margin: 14em 1em 1em 1em
    padding: 1em 2em
    position: relative
    text-align: center
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: 70%
    max-width: 40em
    height: fit-content
    border-radius: 2em
    background: $main-color-green-light
    svg
        width: 2em
        height: auto
        margin-bottom: 0.5em

    &_title
        font-family: AnjaEliane, Debussy
        font-weight: 400
        margin-bottom: 0.5em
    &_description
        margin-bottom: 0.5em
        color: $main-color-grey
    &_button
        font-size: 0.8em
        color: $main-color-white
        background: $main-color-turquoise-transparent
        font-weight: 600
        cursor: pointer
        outline: none
        border: none
        border-radius: 2em
        padding: 1em 2em
        margin: 0.5em 0
        &:hover
            opacity: 0.8
        &:active
            transform: scale(0.97)
    


@media (max-width: 480px)
    .login-modals
        font-size: 14px
    .email-confirm-notification-div
        font-size: 14px
                
@media (max-width: 360px)
    .login-modals
        font-size: 12px

@media (max-width: 320px)
    .login-modals
        font-size: 10px
    .email-confirm-notification-div
        font-size: 12px