@import 'src/styles/variables'

.admin-add-product-modal, .admin-edit-product-modal
    font-size: 16px
    &_content-container
        display: flex
        justify-content: center
        align-items: center
        width: 100vw
        height: 100vh
        min-height: fit-content
    &_shadow
        display: flex
        justify-content: center
        position: fixed
        top: 0
        left: 0
        height: 100%
        width: 100%
        background: rgba(0, 0, 0, 0.5)
        z-index: 1000
        overflow: hidden auto 
    &_content
        display: flex
        justify-self: center
        flex-direction: column
        padding: 1em
        height: fit-content
        margin: 2em 1em
        display: flex
        overflow: hidden
        width: 26em
        max-width: 75vw
        background: $main-color-white
        border-radius: 1em
        z-index: 1001
        & .MuiFormControl-root
            font-size: 1em
            & .MuiInputLabel-root, & .MuiInputBase-root
                font-size: 1em
        &_photo-container
            position: relative
            display: flex
            flex-direction: row
            align-items: flex-end
            margin-bottom: 0.75em
            & .error
                font-size: 0.7em
                color: $main-color-red
                margin-left: 1em
        &_category-select
            font-size: 1em
            margin-bottom: 1.5em
            > .MuiFormLabel-root
                font-size: 0.875em
                color: rgba(0, 0, 0, 0.6)
            > .MuiSelect-root
                font-size: 1em
                background: $main-color-white-transparent
                border-color: rgba(0, 0, 0, 0.2)
                &:hover
                    background: $main-color-white-transparent
                    border-color: rgba(0, 0, 0, 0.87)
            > .MuiSelect-listbox
                font-size: 1em
                background: #EEFEF6
                z-index: 3

        &_photo
            position: relative
            display: flex
            align-items: center
            justify-content: center
            border-radius: 0.25em
            border: 2px solid $main-color-green-light
            overflow: hidden
            width: 6em
            height: 6em
            background: $main-color-white-transparent
            img
                display: flex
                width: 100%
                height: 100%
                object-fit: contain
                z-index: 2
            label
                cursor: pointer
                position: absolute
                width: 100%
                height: 100%
                border-radius: 0.25em
                overflow: hidden
                z-index: 2
                input
                    visibility: hidden
            &_background
                position: absolute
                top: 0
                left: 0
                width: 100%
                height: 100%
                display: flex
                align-items: center
                justify-content: center
                svg
                    width: 60%
                    height: auto
                    color: $main-color-green-light
                    &.camera
                        z-index: 1
                //////стилизация для SyncLoader
                & > span
                    z-index: 2
                    & > span
                        opacity: 0.8
                        background-color: $main-color-green-light !important
                        margin: 0.125em !important
                        width: 0.5em !important
                        height: 0.5em !important
        &_title
            display: flex
            justify-content: space-between
            align-items: center
            padding: 0 0 0.5em 0
            margin: 0 0 1em 0
            font-size: 0.9em
            border-bottom: 1px solid
            svg
                cursor: pointer
                width: 1.5em
                height: auto
                &:hover
                    opacity: 0.8

        &_name, &_description, &_price, &_sale, &_quantity, &_rating_input
            input[type="number"] 
                -moz-appearance: textfield
            input[type="number"]::-webkit-outer-spin-button,
            input[type="number"]::-webkit-inner-spin-button
                -webkit-appearance: none
                margin: 0
        &_name, &_description, &_price, &_sale, &_quantity
            &.MuiTextField-root
                margin-bottom: 1em
        &_rating
            margin: 0.75em 0
            &_input
                &.MuiTextField-root
                    margin-bottom: 0.5em
            
            &_slider-container
                display: flex
                justify-content: center
            &_slider.MuiSlider-root
                width: 90%
                color: #eacf56
                & .MuiSlider-thumb
                    width: 20px
                    height: 20px
                    color: #FFE25E
                    border: 2px solid #cfb74b
                    &:hover, &.Mui-focusVisible
                        box-shadow: 0 0 0 0.4em #cfb74b2c
                    &:active, &.Mui-active
                        box-shadow: 0 0 0 0.6em #cfb74b2c
        &_description
            > .MuiInputBase-root
                > textarea
                    &::-webkit-scrollbar
                        width: 8px
                        height: 8px
                    &::-webkit-scrollbar-track
                        cursor: default
                        background: transparent
                    &::-webkit-scrollbar-thumb
                        cursor: default
                        background-color: lightgrey
                        border-radius: 10px
                        border: 2px solid transparent
                        background-clip: content-box
                        &:active
                            background-color: darkgrey
        & .MuiFormHelperText-root
            margin-top: 0
            font-size: 0.7em

        &_submit-button
            font-size: 0.8em
            margin: 1em 0
            align-self: center
            padding: 0.25em 0.5em
            cursor: pointer
            border: none
            outline: none
            background: $main-color-turquoise
            color: $main-color-biscuit
            font-weight: 600
            border-radius: 2em
            width: 10em
            height: 4em
            opacity: 0.8
            &:hover:not(:disabled)
                opacity: 0.9
            &:active:not(:disabled)
                transform: scale(0.97)
            &:disabled
                cursor: default
                opacity: 0.25
            ///стилизация для ClipLoader   
            > span
                vertical-align: sub
                height: 1.5em !important
                width: 1.5em !important

@media (max-width: 480px)
    .admin-add-product-modal, .admin-edit-product-modal
        font-size: 14px
        &_content
            margin-bottom: 4em
            & .MuiFormControl-root
                > .MuiInputLabel-root.MuiInputLabel-shrink
                    line-height: 1.7em

@media (max-width: 360px)
    .admin-add-product-modal, .admin-edit-product-modal
        font-size: 12px
        &_content
            & .MuiFormControl-root
                > .MuiInputLabel-root.MuiInputLabel-shrink
                    line-height: 2em