@import 'src/styles/variables'
    
.catalog-filters
    border-radius: 2em
    margin-right: 2em
    padding: 1em
    display: flex
    flex-direction: column
    background: $main-color-green-light
    height: fit-content
    width: 20em
    min-width: 20em

    &_main-title
        position: relative
        padding-left: 2.5em
        padding-bottom: 1.5em

        &::before
            position: absolute
            content: url('../../images/ui-icons/filter.svg')
            width: 1.5em
            left: 0
            
    &_filter
        &_title
            position: relative
            padding: 1em 0
            border-top: 1px solid $main-color-green-light

            &::after
                position: absolute
                content: ""
                width: 0.4em
                height: 0.4em
                border-right: 1px solid $main-color-grey
                border-bottom: 1px solid $main-color-grey
                transform: rotate(45deg)
                right: 0.5em
                top: 40%