@import 'src/variables'
    
.catalog-filters
    border-radius: 2em
    margin-right: 2em
    padding: 2em 1em
    display: flex
    background: $main-color-white
    height: 40em
    width: 20em
    min-width: 20em