@import 'src/styles/variables'

.catalog-filters
    border-radius: 2em
    margin-right: 2em
    padding: 1em 
    flex-direction: column
    background: $main-color-green-light
    height: fit-content
    width: 20em
    min-width: 20em
    &_header
        display: flex
        justify-content: space-between
        min-height: 4em

        
        &_main-title
        position: relative
        padding-left: 2.5em
        padding-bottom: 1.5em

        &::before
            position: absolute
            content: url('../../images/ui-icons/filter.svg')
            width: 1.5em
            left: 0

        &_clear-button
            cursor: pointer
            padding: 0.5em
            background: none
            border: 1px solid $main-color-grey-transparent
            border-radius: 1em
            color: $main-color-grey
            font-size: 1em
            font-weight: 600

            &:hover
                color: $main-color-turquoise
                border-color: $main-color-turquoise
            
            &:active
                opacity: 0.8
