@import 'src/styles/variables'

.price-filter
    &_title
        position: relative
        padding: 1em 0
        border-bottom: 1px solid #4f4a5717
        cursor: pointer
        user-select: none
        &:hover
            color: $main-color-grey
            border-color: #4f4a574a
        &::after
            position: absolute
            content: ""
            width: 0.4em
            height: 0.4em
            border-right: 1px solid $main-color-grey
            border-bottom: 1px solid $main-color-grey
            transform: rotate(225deg)
            right: 0.5em
            top: 50%
            transition: transform 0.2s ease-out
        &.hidden::after
            position: absolute
            content: ""
            width: 0.4em
            height: 0.4em
            border-right: 1px solid $main-color-grey
            border-bottom: 1px solid $main-color-grey
            transform: rotate(45deg) 
            right: 0.5em
            top: 50%
    &_inputs
        display: flex
        justify-content: space-between
        margin: 0.5em 0
    
        &_input-container
            display: flex
            flex-direction: column
            align-items: flex-start

            &_title
                user-select: none
                color: $main-color-grey
                font-size: 1em
                padding-bottom: 0.2em

            &_number-input
                outline: none
                background-color: $main-color-white-transparent
                text-align: center
                width: 8em
                border: 1px solid $main-color-white
                border-radius: 3px
                font-weight: 600
                font-size: 1em
                color: $main-color-turquoise
                padding: 0.5em
                -moz-appearance: textfield
                &::-webkit-inner-spin-button
                    -webkit-appearance: none
            

.price-filter .slider-box
    display: grid
    padding: 1em 0
    width: 100%

.price-filter .slider
    justify-self: center
    width: 94%
    color: $main-color-turquoise

    & .MuiSlider-thumb
        color: $main-color-white
        border: 2px solid $main-color-turquoise
        &:hover, &.Mui-focusVisible
            box-shadow: 0 0 0 6px #00475717
        &:active, &.Mui-active
            box-shadow: 0 0 0 10px #00475717
            

    & .MuiSlider-valueLabelOpen
        display: none
    
        
    