@import 'src/styles/variables'
    

.top-toolbar
    display: flex
    align-items: center
    margin-top: 0.5em

    &_counter
        border-right: 1px solid $main-color-turquoise-transparent
        padding-right: 1em
        
    &_panel
        display: flex
        justify-content: space-between
        
        &_sorting
            display: flex
            &_limiter
                display: flex
                align-items: center
                margin-left: 1em
                &_control
                    &_select
                        min-width: 5em


            &_sorter
                display: flex
                align-items: center
                margin-left: 1em
                &_control
                    &_select
                        min-width: 12em

        &_filter
            width: 3.5em
            cursor: pointer
            display: flex
            align-items: center
            justify-content: center
            &:hover
                opacity: 0.8

            svg
                fill: $main-color-turquoise
                height: auto
                width: 100%

    

                
    & .MuiBox-root
        & .MuiFormControl-root

            & .MuiFormLabel-root 
                color: $main-color-turquoise // цвет лейбла

                &.Mui-focused 
                    color: $main-color-grey // цвет лейбла на фокусе

            & .MuiInputBase-colorPrimary 
                color: $main-color-grey // цвет текста в инпуте      

            & .MuiInputBase-root

                &:hover
                    & .MuiOutlinedInput-notchedOutline
                        border-color: $main-color-grey // цвет бордера при наведении

                & .MuiOutlinedInput-notchedOutline
                    border-color: $main-color-grey-transparent // цвет бордера

            & .Mui-focused .MuiOutlinedInput-notchedOutline
                border-color: $main-color-turquoise // цвет бордера в фокусе    

.MuiPopover-root .MuiPaper-root
    background-color: $main-color-green-light // цвет бэкграунда попапа

    & .MuiButtonBase-root
        &.MuiMenuItem-root
            color: $main-color-turquoise // цвет текста в опциях попапа
            
@media (max-width: 480px) 
    .top-toolbar
        & .MuiBox-root
            & .MuiInputBase-root
                font-size: 0.5rem
                & .MuiSvgIcon-root
                    font-size: 0.75rem
            & .MuiFormControl-root
                & .MuiFormLabel-root 
                    font-size: 0.5rem
                    line-height: 2.875

@media (max-width: 768px) 
    .top-toolbar
        display: block
        &_counter
            padding-bottom: 1.5em
            border: none
        &_panel
            &_sorting
                &_limiter
                    margin-left: 0 
@media (max-width: 320px) 
    .top-toolbar
        font-size: 8px