@import 'src/styles/variables'
    
.search-empty
    user-select: none
    margin-top: 50px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    align-self: center
    width: 34em
    height: 10em
    color: $main-color-turquoise
    border-radius: 2em
    background: $main-color-white-transparent
    padding: 2em

    &_description
        color: $main-color-grey
        text-align: center
        font-size: 1em
        margin-bottom: 1.4em
    
    &_home
        width: 6em
        opacity: 0.8
        cursor: pointer
        display: flex
        align-self: center
        justify-content: center
        font-weight: 600
        padding: 1em 2em
        border-radius: 2em
        background: $main-color-turquoise
        color: $main-color-biscuit
        transition: transform 0.1s ease

        &:hover
            opacity: 0.9
        &:active
            transform: scale(0.97)