@import 'src/styles/variables'

.product-page
    margin: 2em 0
    display: flex
    
    & .product-page_visual_admin-panel_edit,
    & .product-page .product-page_visual_admin-panel_delete
        display: flex
    &_loader
        margin: 2em
        display: flex
        justify-content: center
        align-items: center
        height: 50vh

    &_visual
        display: flex
        position: sticky
        top: 1em
        user-select: none
        width: 48%
        height: fit-content
        aspect-ratio: 1/1
        background: $main-color-green-light
        overflow: hidden
        border-radius: 2em
        &_admin-edit, &_admin-delete
            display: flex
            cursor: pointer
            position: absolute
            justify-content: center
            align-items: center
            width: 3em
            height: 3em
            border-radius: 50%
            background: $main-color-white
            z-index: 1
            opacity: 0.75
            &:hover
                opacity: 1
            svg
                width: 50%
                height: auto
        &_admin-edit
            top: 5em
            right: 1em
            color: $main-color-turquoise
            border: 1px solid $main-color-turquoise
        &_admin-delete
            top: 1em
            right: 1em
            color: $main-color-red
            border: 1px solid $main-color-red
        & .progressive-image-container
            > img
                object-fit: cover
                object-position: center
            & .iiz__btn
                background: $main-color-white-transparent
                width: 3em
                height: 3em
                bottom: 1.5em
                right: 1.5em
                border-radius: 50%
            & .progressive-image
                > div
                    position: relative
                    width: 100%
                    height: 100%
                    > img
                        width: 100%
                        height: 100%
                        object-fit: contain
                        object-position: center
        &_sold-out
            pointer-events: none
            position: absolute
            top: 25%
            bottom: 25%
            left: 15%
            right: 15%
            width: 70%
            align-self: center

    &_main
        font-size: 14px
        margin-left: 2em
        width: 52%
        color: $main-color-grey
        &_info
            background: linear-gradient(to left, #eefef60f, #eefef65e) 
            height: fit-content
            border-radius: 2em
            padding: 1em 2em 

            &_rating
                display: inline-flex
                margin: 1em 0

                &_stars
                    display: flex
                    width: 8em

                    svg
                        width: 100%
                        height: auto

                &_mark
                    margin-left: 0.6em
                    font-size: 1.2em
                    font-weight: 600

            &_title
                font-family: AnjaEliane, Debussy
                font-size: 2.2em

            &_description
                font-size: 1.4em
                font-weight: 600

            &_price
                color: $main-color-turquoise
                margin-top: 1em

                &_final
                    font-size: 2.2em
                    font-weight: 900

                &_first
                    color:$main-color-grey
                    font-weight: 300
                    margin-left: 1em
                    font-size: 1.6em
                    text-decoration: line-through
                    text-decoration-color: $main-color-turquoise

                &_save
                    opacity: 1
                    color: $main-color-red
                    font-weight: 600
                    font-size: 1em

            &_ui
                display: flex
                margin-top: 2em
                margin-bottom: 1em

                &_add-to-cart-button, &_open-cart-button
                    display: flex
                    justify-content: center
                    align-items: center
                    opacity: 0.8
                    cursor: pointer
                    font-weight: 600
                    color: $main-color-biscuit
                    font-size: 1em
                    width: 12em
                    height: 4em
                    background: $main-color-turquoise
                    border-radius: 2em
                    outline: none
                    border: none
                    transform: scale(0.999)
                    transition: transform 0.1s ease
                    &:hover
                        opacity: 0.9
                    &:active
                        transform: scale(0.97)
                    > span
                        svg
                            margin-right: 0.5em
                            vertical-align: sub
                            height: auto
                            width: 1.5em
                        span
                            margin-right: 0.5em
                            vertical-align: sub
                            height: 1.5em !important
                            width: 1.5em !important
                &_sold-out
                    user-select: none
                    display: flex
                    justify-content: center
                    align-items: center
                    font-weight: 600
                    width: 12em
                    height: 4em
                    background: #6c6c6c1e
                    border-radius: 2em
                    opacity: 0.8
                &_open-cart-button
                    background: $main-color-grey


                &_lovelist-button
                    opacity: 0.8
                    display: flex
                    align-items: center
                    justify-content: center
                    font-size: 1em
                    width: 4em
                    height: 4em
                    margin-left: 2em
                    cursor: pointer
                    background: none
                    outline: none
                    background: #4f4a571a
                    border: none
                    border-radius: 50%

                    &:hover
                        opacity: 0.6
                    &:active
                        opacity: 0.4

                    svg
                        transform: translateY(0.16em)
                        stroke: $main-color-red
                        stroke-width: 1em
                        width: 50%
                        height: auto
                    // стилизация лоадера для кнопки избранного
                    > span
                        width: 100% !important
                        height: 100% !important
                        > span
                            border-width: 2px !important
                            width: 100% !important
                            height: 100% !important
        &_reviews
            margin-top: 1em
            border-radius: 2em
            padding: 1em 2em
            height: fit-content
            background: #eefef625

@media (max-width: 1200px)
    .product-page
        font-size: 14px
        &_loader
            font-size: 14px
        &_main
            &_info
                font-size: 12px

@media (max-width: 992px)
    .product-page
        margin-top: 1.5em
        flex-direction: column
        padding-bottom: 1rem
        &_visual
            position: relative
            width: 100%
        &_main
            width: 100%
            margin: 1em 0 0 0
            &_info
                margin-top: 1em
                background: linear-gradient(to left top, #eefef60f, #eefef65e) 
            &_reviews
                margin-top: 1.5em
        

@media (max-width: 480px) 
    .product-page
        margin-top: 1em
        font-size: 12px
        &_loader
            font-size: 12px
        &_visual
            border-radius: 15px
        &_main   
            &_info, &_reviews
                font-size: 10px
                border-radius: 15px



@media (max-width: 320px) 
    .product-page
        font-size: 10px
        &_loader
            font-size: 10px
        &_main
            &_info, &_reviews
                font-size: 8px