@import 'src/styles/variables'

.checkout-page_main_info
    width: 55%
    border-right: 1px solid $main-color-green-light
    &_inner
        justify-self: flex-end
        padding: 2em
        height: fit-content  
