@import 'src/styles/variables'
    
.main-page
    display: flex
    flex-direction: column
    justify-content: center
    

.promo-swiper // верхний слайдер главной страницы
    border-radius: 25px
    aspect-ratio: 3 / 1
    width: 100%
    & .swiper-pagination
        & .swiper-pagination-bullet
            background: #c4e2cf
            opacity: 0.6
        & .swiper-pagination-bullet-active-main
            background: #c4e2cf
            opacity: 1
    & .swiper-button-prev, .swiper-button-next
        color: #c4e2cf
        opacity: 0.6
        &:hover
            opacity: 0.8

    & .swiper-slide 
        cursor: pointer
        text-align: center
        font-size: 18px
        display: flex
        justify-content: center
        align-items: center
        
        &.slide-1
            background: url("/images/promo/3.png")
            background-size: cover
        &.slide-2
            background: url("/images/promo/5.png")
            background-size: cover
        &.slide-3
            background: url("/images/promo/2.png")
            background-size: cover
        &.slide-4
            background: url("/images/promo/1.png")
            background-size: cover
        &.slide-5
            background: url("/images/promo/4.png")
            background-size: cover
        &.slide-6
            background: url("/images/promo/6.png")
            background-size: cover
            


.promo-sales // promo picture with sales
    margin: 1em 0 1em 0
    min-width: 100%
    aspect-ratio: 2.5 / 1
    background: url("/images/promo/0.png")
    background-size: cover
    border-radius: 25px

    
.highest-rated-items-block, .sales-items-block // carousel sliders containers
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    margin: 1em 0
    &_title
        color: $main-color-burgundy
        text-align: center
        padding-bottom: 0.5em
        & span
            color: $main-color-turquoise

.sales-items-block
    &_title
        color: $main-color-grey
        & span 
            color: $main-color-red
    
            


.sale-items-carousel, .highest-rated-items-carousel // products carousel sliders
    width: calc( 100% - 100px )
    margin-bottom: 3em
    & .slick-slide
        padding: 0 2em
        display: flex
        align-items: center
        justify-content: center

    & .slick-arrow // стрелки слайдера карусели
        width: fit-content
        height: fit-content
        &::before
            display: block
            color: $main-color-grey-transparent
            font-size: 40px
    & .slick-prev // левая стрелка
        left: -50px

    & .slick-next // правая стрелка
        right: -50px

    & .catalog-item
        margin: 2em 0
        box-shadow: 0px 0px 14px 4px $main-color-grey-transparent
        &:hover
            box-shadow: 0px 0px 20px -4px $main-color-turquoise-transparent
        
@media (max-width: 1320px) 
    .highest-rated-items-block, .sales-items-block
        font-size: 14px
    .sale-items-carousel, .highest-rated-items-carousel
        & .catalog-item
            font-size: 12px

@media (max-width: 992px) 
    .highest-rated-items-block, .sales-items-block
        font-size: 12px
    .sale-items-carousel, .highest-rated-items-carousel
        & .catalog-item
            font-size: 10px

@media (max-width: 580px) 
    .highest-rated-items-block, .sales-items-block
        font-size: 10px
    .sale-items-carousel, .highest-rated-items-carousel
        & .catalog-item
            font-size: 8px
            box-shadow: 0px 0px 12px 2px $main-color-grey-transparent
            &:hover
                box-shadow: 0px 0px 26px -8px $main-color-turquoise-transparent
        & .slick-arrow::before
            font-size: 30px

@media (max-width: 480px) 
    .highest-rated-items-block, .sales-items-block
        font-size: 8px
    .sale-items-carousel, .highest-rated-items-carousel
        width: calc( 100% - 50px )
        margin-bottom: 0
        & .slick-prev // левая стрелка
            left: -25px
        & .slick-next // правая стрелка
            right: -25px
        & .catalog-item
            font-size: 6px
        & .slick-arrow::before
            font-size: 20px

@media (max-width: 360px) 
    .highest-rated-items-block, .sales-items-block
        font-size: 8px
    .sale-items-carousel, .highest-rated-items-carousel
        width: calc( 100% - 20px )
        & .slick-prev // левая стрелка
            left: -10px
        & .slick-next // правая стрелка
            right: -10px
        & .catalog-item
            font-size: 4px
        & .slick-arrow::before
            font-size: 20px

