@import 'src/styles/variables'

.filter-switchers
    margin: 1em 0
    display: flex
    flex-direction: column
    &_top-rated, &_sale, &_new
        display: inline-flex
        justify-content: space-between
        color: $main-color-grey
        font-weight: 600
        padding: 1em 0
        border-bottom: 1px solid $main-color-green-light
