$main-color-turquoise: #004757 
$main-color-turquoise-transparent: #004757a0
$main-color-burgundy: #522E4C
$main-color-grey: #4F4A57
$main-color-grey-transparent: #4f4a5767
$main-color-white: #eefef6
$main-color-white-transparent: #eefef664
$main-color-red: #cc0000
$main-color-biscuit: #e9d5be
$main-color-green-light: #C4E2CF

:export 
    mainColorTurquoise: $main-color-turquoise
    mainColorTurquoiseTransparent: $main-color-turquoise-transparent
    mainColorBurgundy: $main-color-burgundy
    mainColorGrey: $main-color-grey
    mainColorGreyTransparent: $main-color-grey-transparent
    mainColorWhite: $main-color-white
    mainColorWhiteTransparent: $main-color-white-transparent
    mainColorRed: $main-color-red
    mainColorBiscuit: $main-color-biscuit
    mainColorGreenLight: $main-color-green-light
