@import 'src/styles/variables'
    
.category-filter

    &_options

        &_option
            display: flex
            align-items: center
            margin: 0.75em 0
            color: $main-color-grey  

            &_input

            &_name
                font-weight: 600
                flex-grow: 1

            &_amount