@import 'src/styles/variables'
    
.catalog-pagination 
    margin-top: 1.5em
    margin-bottom: 0.5em

    & .MuiButtonBase-root
        color: $main-color-turquoise

        &.MuiPaginationItem-root.Mui-selected
            color: $main-color-green-light
            background-color: $main-color-turquoise-transparent