.layout
    min-height: 100vh
    display: flex
    flex-direction: column
    justify-content: center
    
.content
    background: linear-gradient(to bottom,#aad8c2,#b6d2b5,#c3d3b5)
    padding: 0 5vw
    flex: 1 0 auto