@import 'src/styles/variables'
    
.layout
    display: flex
    flex-direction: column
    height: 100vh

.main-container
    display: flex
    justify-content: center
    flex-grow: 1
    background: linear-gradient(to bottom,#aad8c2,#b6d2b5,#c3d3b5)
    
.main
    width: 100%
    max-width: 1620px
    padding: 0 2em
    
.os-theme-main
    box-sizing: border-box
    --os-size: 14px
    --os-padding-perpendicular: 2px
    --os-padding-axis: 2px
    --os-track-border-radius: 10px
    --os-handle-interactive-area-offset: 10px
    --os-handle-border-radius: 10px
    --os-handle-bg: #00475799
    --os-handle-bg-hover: #004757cc 
    --os-handle-bg-active: #004757

@media (max-width: 1200px) 
    .os-theme-main
        --os-size: 12px
@media (max-width: 996px)
     .os-theme-main
        --os-size: 11px
@media (max-width: 768px) 
    .os-theme-main
        --os-size: 10px
@media (max-width: 480px) 
    .os-theme-main
        --os-size: 8px
        --os-handle-interactive-area-offset: 2px
    .main
        padding: 0 1em
        overflow-x: hidden