@import 'src/styles/variables'

.search-form
    position: relative
    margin-bottom: 1em
    display: flex
    align-items: flex-end
    border: 2px solid $main-color-turquoise-transparent
    border-radius: 2em
    //padding: 0.4em 0
    height: 2.4em
    &:has(&_input:focus)
        border: 2px solid $main-color-turquoise
        
        
    &_submit
        position: relative
        display: flex
        align-items: center
        justify-content: center
        height: 100%
        width: 3.5em
        > button
            cursor: pointer
            font-size: inherit
            border: none
            background: none
            height: 60%
            width: auto
            > svg
                fill: $main-color-turquoise
                height: 100%
                width: auto
    &_input
        align-self: center
        height: 100%
        font-size: 1em
        font-weight: 600
        color: $main-color-grey
        width: 100%
        padding-left: 1em
        outline: none
        border: none
        background: none
        &::placeholder
            color: $main-color-grey-transparent
        &::-webkit-search-cancel-button
            -webkit-appearance: none
                

@media (max-width: 480px) 
    .search-form
        font-size: 14px

@media (max-width: 320px) 
    .search-form
        font-size: 10px