.lovelist 
    display: flex
    flex-wrap: wrap
    margin: 1em 0

@media (max-width: 1200px) 
    .lovelist .catalog-item
        font-size: 12px

@media (max-width: 996px) 
    .lovelist .catalog-item
        font-size: 11px

@media (max-width: 768px) 
    .lovelist .catalog-item
        font-size: 10px

@media (max-width: 480px) 
    .lovelist
        justify-content: space-between
    .lovelist .catalog-item
        font-size: 9px

@media (max-width: 407px) 
    .lovelist .catalog-item
        font-size: 8px

@media (max-width: 369px) 
    .lovelist .catalog-item
        font-size: 7px

@media (max-width: 331px) 
    .lovelist .catalog-item
        font-size: 6px

@media (max-width: 293px) 
    .lovelist .catalog-item
        font-size: 5px

@media (max-width: 255px) 
    .lovelist .catalog-item
        font-size: 4px
