@import 'src/variables'

.catalog-page
    display: flex
    margin-top: 2em

.catalog-container
    flex-grow: grow

    &_title

.catalog
    
    margin: 2em 0
    display: flex
    flex-wrap: wrap


