@import 'src/styles/variables'

.MuiModal-root
    & .MuiModalDialog-root
        border-radius: 20px
        background-color: $main-color-green-light
        color: $main-color-turquoise
        & .MuiButton-root.notification-action-button
            min-width: 5em
            flex: 0 0 auto
            padding: 0.5em 1.25em 0.6em 1.25em
        & .MuiDialogContent-root
            color: $main-color-grey
        & .MuiButton-root
            border-radius: 20px
            &.MuiButton-colorDanger
                color: $main-color-white
            &.MuiButton-colorNeutral
                color: $main-color-grey
                &:hover
                    background: $main-color-white-transparent