@import 'src/styles/variables'
    
.store-finder
    height: 100%
    display: flex
    flex-direction: column

    &_header
        font-family: "Debussy"
        padding-bottom: 0.2em
        text-align: center
        user-select: none
        font-size: 3.5em
        font-weight: 400
        color: $main-color-turquoise-transparent
    
    &_geocoder
        display: flex
        justify-content: center
        padding-bottom: 1.5em

        & form.svelte-zh3kmv ///////////Перезапись стилей для классов геокодера////////////
            background: none
            box-shadow: none
            outline: 1px solid $main-color-grey-transparent

            & ul.svelte-zh3kmv.svelte-zh3kmv, div.error.svelte-zh3kmv.svelte-zh3kmv, div.no-results.svelte-zh3kmv.svelte-zh3kmv
                background-color: $main-color-green-light // цвет фона выпадающего списка
                border-radius: 10px
                & li.svelte-ltkwvy
                    & .secondary // доп к первой строке li выпадающего списка
                        color: #4f4a577a
                    & .line2.svelte-ltkwvy // вторая строка li выпадающего списка
                        color: #4f4a57d8

            & li.selected.svelte-ltkwvy
                background-color: #dbf5e4bb // бэкгроунд места при наведении
                
            & li.selected.svelte-ltkwvy .primary.svelte-ltkwvy
                color: $main-color-turquoise // цвет места при наведении
                

        & form.svelte-zh3kmv:focus-within
            outline: 2px solid $main-color-turquoise-transparent // аутлайн формы

        & form.svelte-zh3kmv, & form.svelte-zh3kmv:focus-within, & form.svelte-zh3kmv:hover // свойства формы
            width: 26em
            max-width: 75vw
            border-radius: 20px

        

            & .input-group.svelte-zh3kmv
                gap: 0.75em 
                padding-inline: 1em

                &:focus-within
                    outline: none

                & input.svelte-zh3kmv
                    height: 3em
                    font-size: 1em
                    font-weight: 600
                    min-width: 100px
                    
                & .search-button.svelte-zh3kmv
                    svg // значок лупы
                        width: 1.6em
                        height: 1.6em

                & .clear-button-container
                    &:hover
                        & svg.svelte-en2qvf // крестик инпута
                            fill: $main-color-turquoise
    ///////////////////////////////////////////////////////////////////////////////////////

    &_locator
        height: 615px
        padding-bottom: 1em
        max-height: 100%
        display: flex
        
        &_list
            position: relative
            -webkit-box-shadow: -1px 0px 10px 0px rgba(0,0,0,0.2)
            -moz-box-shadow: -1px 0px 10px 0px rgba(0,0,0,0.2)
            box-shadow: -1px 0px 10px 0px rgba(0,0,0,0.2)
            border-top-left-radius: 2em
            border-bottom-left-radius: 2em
            height: 100%
            width: 30%
            background: $main-color-green-light
            padding: 0em 1.5em 1em 1em
            max-height: 615px

            & .os-theme-dark // scrollbar styles
                --os-handle-interactive-area-offset: 10px
                --os-handle-bg: #00475799
                --os-handle-bg-hover: #004757cc 
                --os-handle-bg-active: #004757

            &_store-info-items
                padding-top: 0.5em

            &_header
                position: sticky
                top: 0
                margin-right: -2px
                background: $main-color-green-light
                padding-top: 1em
                padding-bottom: 1em
                border-bottom: 1px solid $main-color-grey-transparent
                z-index: 10

                &_counter
                    color: $main-color-grey
                    font-weight: 600


        &_map
            height: 100%
            flex-grow: 1
        
    &_map-to-list-switcher
        font-weight: 600
        display: flex
        justify-content: center
        &_map, &_list
            color: $main-color-turquoise-transparent
            padding: 0.5em 2em
            font-size: 1.25em
            border: 2px solid $main-color-green-light
            border-bottom: none
            cursor: pointer
            user-select: none
            &:hover
                box-shadow: 0px 0px 25px -8px $main-color-turquoise
                -webkit-box-shadow: 0px 0px 25px -8px $main-color-turquoise
                -moz-box-shadow: 0px 0px 25px -8px $main-color-turquoise
            &.active
                color: $main-color-green-light
                background-color: $main-color-turquoise-transparent
                box-shadow: 0px 0px 25px -8px $main-color-turquoise
                -webkit-box-shadow: 0px 0px 25px -8px $main-color-turquoise
                -moz-box-shadow: 0px 0px 25px -8px $main-color-turquoise
        
            
        &_map
            border-right: 1px solid $main-color-green-light
            border-top-left-radius: 1em

        &_list
            border-left: 1px solid $main-color-green-light
            border-top-right-radius: 1em



@media (max-width: 1200px) 
    .store-finder
        font-size: 14px


@media (max-width: 992px) 
    .store-finder
        font-size: 13px


@media (max-width: 768px) 
    .store-finder
        font-size: 12px
        &_header
            padding: 0.4em 0 0.2em 0
            font-size: 3em
    .store-finder_locator_map
        & .maplibregl-map
            border-radius: 2em
    .store-finder_locator_list
        border-radius: 2em
        width: 100%
        & .os-theme-dark
            --os-padding-axis: 2em

@media (max-width: 480px) 
    .store-finder
        &_header
            font-size: 2.5em
        &_geocoder
            padding-top: 0.5em
            padding-bottom: 1em
        &_locator
            min-height: 320px
            max-height: 65vh
            &_map
                & .maplibregl-map
                    border-radius: 15px
            &_list
                border-radius: 15px

@media (max-width: 360px) 
    .store-finder
        &_locator
            padding-left: 1em
            padding-right: 1em

@media (max-width: 320px) 
    .store-finder
        &_header
            font-size: 2em