@import 'src/styles/variables'
    
.account-page
    font-size: 16px
    &_heading
        margin: 2em 0 0 0
        display: flex
        &_photo-container
            position: relative
            height: fit-content
            &_options
                user-select: none
                background: $main-color-green-light
                border-radius: 5px
                padding: 5px
                position: absolute
                bottom: -5em
                z-index: 2
                &_option
                    cursor: pointer
                    color: $main-color-grey
                    display: flex
                    align-items: center
                    white-space: nowrap
                    border-radius: 5px
                    padding: 5px
                    &.delete
                        svg
                            fill: $main-color-red
                    &.update
                        position: relative
                        label
                            cursor: pointer
                            position: absolute
                            width: 100%
                            height: 100%
                            top: 0
                            left: 0
                            input
                                visibility: hidden
                        svg
                            stroke: $main-color-turquoise
                    svg
                        margin-right: 5px
                    &:hover
                        background: $main-color-white-transparent

        &_photo
            position: relative
            display: flex
            align-items: center
            justify-content: center
            border-radius: 50%
            border: 2px solid $main-color-green-light
            overflow: hidden
            width: 7em
            height: 7em
            background: $main-color-white-transparent
            img
                display: flex
                width: 100%
                height: 100%
                object-fit: cover
            label
                cursor: pointer
                position: absolute
                width: 100%
                height: 100%
                border-radius: 50%
                overflow: hidden
                z-index: 1
                input
                    visibility: hidden
            &_background
                display: flex
                justify-content: center
                align-items: center
                background: #55555555
                position: absolute
                width: 100%
                height: 100%
                svg
                    width: 50%
                    height: auto
                    stroke: $main-color-white-transparent
            
            
        &_title
            margin: 0 0 0 2em
            h1
                margin: 0 0 0.5em 0
            &_signout
                cursor: pointer
                width: fit-content
                display: flex
                align-items: center
                span
                    margin-left: 0.25em
                    font-weight: 600
                svg
                    height: auto
                    width: 1.5em
                &:hover
                    color: $main-color-grey
    &_user-info
        margin: 1em 0 2em 0
        &_contact-details, &_personal-data
            margin: 0 0 1em 0
            h2
                margin: 0 0 1em 0
                    
                
    &_delete
        width: fit-content
        cursor: pointer
        display: flex
        align-items: center
        color: $main-color-red
        span
            margin: 0 0 0 0.25em
            font-weight: 600
        svg
            width: 1em
            height: auto
        &:hover
            opacity: 0.6

@media (max-width: 1200px) 
    .account-page
        font-size: 15px
@media (max-width: 992px) 
    .account-page
        font-size: 14px
@media (max-width: 768px) 
    .account-page
        font-size: 13px
@media (max-width: 480px) 
    .account-page
        font-size: 12px
@media (max-width: 320px) 
    .account-page
        font-size: 11px
