@import 'src/styles/variables'
    
.account-page
    font-size: 16px
    &_user-info
        margin: 1em 0 2em 0
        &_contact-details, &_personal-data
            margin: 0 0 1em 0
            h2
                margin: 0 0 1em 0
        &_contact-details
            &_email
                width: fit-content
                display: flex
                flex-direction: column
                &_confirm
                    width: 100%
                    display: flex
                    flex-direction: column
                    padding: 0 0 0 0.5em
                    &_info
                        font-size: 0.9em
                        width: fit-content
                        color: $main-color-red
                        padding: 0 0 0 0
                    &_button
                        font-size: 0.9em
                        width: fit-content
                        cursor: pointer
                        color: $main-color-turquoise
                        outline: none
                        border: none
                        background: none
                        margin: 0
                        padding: 0
                        text-decoration: underline
                        padding: 0.5em 0 0 0
                        &:hover
                            opacity: 0.8
                    
    &_delete   
        margin: 2em 0
        &_button
            width: fit-content
            cursor: pointer
            display: flex
            align-items: center
            color: $main-color-red
            span
                margin: 0 0 0 0.25em
                font-weight: 600
            svg
                width: 1em
                height: auto
            &:hover
                opacity: 0.6

@media (max-width: 1200px) 
    .account-page
        font-size: 14px
@media (max-width: 992px) 
    .account-page
        font-size: 13px
@media (max-width: 768px) 
    .account-page
        font-size: 12px
@media (max-width: 480px) 
    .account-page
        font-size: 11px
@media (max-width: 360px) 
    .account-page
        font-size: 11px
        &_heading
            flex-direction: column
            &_photo-container
                display: flex
                justify-content: center
            &_title
                margin: 1em 0 0 0
                display: flex
                flex-direction: column
                align-items: center
        &_user-info
            display: flex
            flex-direction: column
            align-items: center
            text-align: center
            margin-top: 2em
        &_delete
            width: 100%
            display: flex
            justify-content: center

@media (max-width: 320px) 
    .account-page
        font-size: 10px
