@import 'src/styles/variables'
    
.account-page
    &_tabs
        display: flex
        height: fit-content
        margin: 0 0 2em 0
        a
            font-weight: 600
            font-size: 1em
            color: $main-color-grey
            padding: 1em
        a:not(:last-child)
            margin-right: 1em
        a.active
            color: $main-color-turquoise
            border-bottom: 2px solid
        a:not(.active)
            &:hover
                opacity: 0.8

@media (max-width: 1200px) 
    .account-page
        font-size: 14px
@media (max-width: 992px) 
    .account-page
        font-size: 13px
@media (max-width: 768px) 
    .account-page
        font-size: 12px
@media (max-width: 480px) 
    .account-page
        font-size: 11px
@media (max-width: 360px) 
    .account-page
        font-size: 11px
@media (max-width: 320px) 
    .account-page
        font-size: 10px