@import 'src/styles/variables'

.MuiModal-root
    & .MuiModalDialog-root
        border-radius: 20px
        background-color: $main-color-green-light
        color: $main-color-turquoise
        & .MuiDialogContent-root
            color: $main-color-grey
        & .MuiButton-root
            min-width: 6em
            border-radius: 20px
            padding: 0.5em 1.25em 0.6em 1.25em
            &.Mui-disabled
                opacity: 0.5
            &.MuiButton-colorDanger
                color: $main-color-white
                &.Mui-disabled
                    background-color: rgb(196, 28, 28)
                > span
                    > span
                        height: 0.5em !important 
                        width: 0.5em !important
            &.MuiButton-colorNeutral
                color: $main-color-grey
                &:hover
                    background: $main-color-white-transparent
            