@import 'src/styles/variables'

.MuiModal-root
    
    & .MuiModalDialog-root
        border-radius: 20px
        background-color: $main-color-white
        color: $main-color-turquoise
        & .MuiButton-root
            border-radius: 20px
            &.MuiButton-colorDanger
                color: $main-color-white
            &.MuiButton-colorNeutral
                color: $main-color-grey