@import 'src/styles/variables'

.order-list-item
    max-width: 40em
    margin-bottom: 1.5em
    padding: 1em
    border-radius: 1em
    background: $main-color-white-transparent
    &_first-top
        display: flex
        flex-direction: row
        justify-content: space-between
        margin-bottom: 0.25em
        &_info
            p
                span
                    font-weight: 600
        &_status
            padding: 0.25em
            border-radius: 5px
            border: 1px solid
            font-size: 0.75em
            &.paid
                color: green
    &_second-top
        display: flex
        flex-direction: row
        margin-bottom: 1em
        color: $main-color-grey
        &_total
            font-weight: 600
        > span
            margin: 0 0.25em
    &_visual
    &_link
        display: flex
        justify-self: center
        padding: 0.4em 0.8em 0.5em 0.8em
        border-radius: 2em
        font-weight: 600
        background: $main-color-turquoise-transparent
        color: $main-color-white
        &:hover
            opacity: 0.8
        &:active
            opacity: 0.9