@import 'src/styles/variables'

.checkout-page_main_order
    width: 45%
    background: $main-color-white
    &_inner
        padding: 2em
        position: sticky
        top: 0
        height: fit-content