@import 'src/styles/variables'

.checkout-page_main_order
    position: relative
    width: 45%
    background: $main-color-white
    &_inner
        padding: 2em
        position: sticky
        top: 0
        justify-self: flex-start
        height: fit-content
        width: 100%
        max-width: 610px
        
        