@import 'src/variables'
    
.lovelist-page
    display: flex
    flex-direction: column

    &_title
        margin: 0.4em 0

        span
            color: $main-color-turquoise
            opacity: 0.9
            margin-left: 0.6em
            font-size: 0.6em