@import 'src/styles/variables'
    
.lovelist-page
    display: flex
    flex-direction: column
    margin-bottom: 1em

    &_title
        margin: 0.5em 0

        span
            color: $main-color-turquoise
            opacity: 0.9
            margin-left: 0.6em
            font-size: 0.6em
            
@media (max-width: 1200px) 
    .lovelist-page
        font-size: 14px

@media (max-width: 992px) 
    .lovelist-page
        font-size: 13px

@media (max-width: 768px) 
    .lovelist-page
        font-size: 12px

@media (max-width: 480px) 
    .lovelist-page
        font-size: 10px

@media (max-width: 320px) 
    .lovelist-page
        font-size: 8px