@import 'src/styles/variables'

.main .MuiSnackbar-root
    border-color: $main-color-turquoise-transparent
    background-color: $main-color-green-light
    color: $main-color-grey
    border-radius: 8px
    & .MuiSnackbar-startDecorator
        color: $main-color-burgundy

@media (max-width: 360px)
    .main .MuiSnackbar-root
        min-width: auto
        width: 70vw
